@use "@/assets/general.scss";

.card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  background-color: general.$background-color;
  padding: 2.4rem;
}

.card-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.artist-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
