@use "@/assets/general.scss";

.history-table {
  display: grid;
  align-items: center;
  justify-content: stretch;
  grid-template-columns: auto 1fr auto auto;
  background-color: general.$card-color;
  min-width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  grid-row-gap: 1.6rem;
  $table-padding: 3rem;

  // position: sticky;
  // top: 8rem;
  // background-image: linear-gradient(
  //   to bottom,
  //   transparent 8rem,
  //   general.$card-color 8rem,
  //   general.$card-color calc(100% - 8rem),
  //   transparent 0
  // );
  // margin-top: 8rem;

  thead,
  tbody,
  tfoot,
  tr {
    display: contents;
  }

  th {
    text-transform: uppercase;
    color: general.$primary-font-color;
    padding: 1.6rem 0;
    text-align: left;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid grey;
    background-color: general.$card-color;

    // position: sticky;
    // top: 0rem;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }

  th,
  td {
    font-size: 1.6rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* Left padding for table */
    &:first-child {
      padding-left: $table-padding;
    }

    /* Right padding for table */
    &:last-child {
      padding-right: $table-padding;
    }
  }

  // td {
  //   z-index: -3;
  // }

  .track-number {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    text-align: center;
  }

  .track-played-at {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
