.card {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.pfp {
  --size: 6.4rem;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size);
  object-fit: cover;
}

.user-data-field {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
